.rcw-launcher,
.rcw-response .rcw-message-text,
.rcw-conversation-container .rcw-header {
    background-color: #2c2c6c;
}

.rcw-client .rcw-message-text {
    background-color: #4db5ff;
}

.rcw-input {
    color: #000;
}

.rcw-launcher .rcw-badge {
    z-index: 10;
}